<%- include('template/header', {tituloWeb: 'Página de Inicio'} ); %>
<%- include('template/aside'); %>

<div class="text-center text-primary">
    <h1>Veterinaria 24 Horas</h1>
    <img src="dist/img/imageninicio.png" class="bg-img"  alt="imagen inicio">
</div>

    

<%- include('template/footer'); %>
