<%- include('template/header', {tituloWeb: 'Página de Inicio'} ); %>
<%- include('template/aside'); %>
<body>
    <div class="contenedor">
        <h1>Bienvenido a nuestra Veterinaria 24 Horas</h1>
    </div>
</body>
</html>
<%- include('template/footer'); %>
